body {

    /*background: linear-gradient(0.5turn, hotpink, greenyellow, saddlebrown, blue);*/
}

#root {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0.4turn, red, orange, yellow, green, skyblue, blue, blueviolet, hotpink, greenyellow, saddlebrown, aqua, seagreen, gray, black, white, peachpuff, maroon, red, orange, yellow, green, skyblue, blue, blueviolet, hotpink, greenyellow, saddlebrown, aqua, seagreen, gray, black, white, peachpuff, maroon, red, orange, yellow, green, skyblue, blue, blueviolet, hotpink, greenyellow, saddlebrown, aqua, seagreen, gray, black, white, peachpuff, maroon, red, orange, yellow, green, skyblue, blue, blueviolet, hotpink, greenyellow, saddlebrown, aqua, seagreen, gray, black, white, peachpuff, maroon, red, orange, yellow, green, skyblue, blue, blueviolet, hotpink, greenyellow, saddlebrown, aqua, seagreen, gray, black, white, peachpuff, maroon, red, orange, yellow, green, skyblue, blue, blueviolet, hotpink, greenyellow, saddlebrown, aqua, seagreen, gray, black, white, peachpuff, maroon, red, orange, yellow, green, skyblue, blue, blueviolet, hotpink, greenyellow, saddlebrown, aqua, seagreen, gray, black, white, peachpuff, maroon, red, orange, yellow, green, skyblue, blue, blueviolet, hotpink, greenyellow, saddlebrown, aqua, seagreen, gray, black, white, peachpuff, maroon, red, orange, yellow, green, skyblue, blue, blueviolet, hotpink, greenyellow, saddlebrown, aqua, seagreen, gray, black, white, peachpuff, maroon, red, orange, yellow, green, skyblue, blue, blueviolet, hotpink, greenyellow, saddlebrown, aqua, seagreen, gray, black, white, peachpuff, maroon, red, orange, yellow, green, skyblue, blue, blueviolet, hotpink, greenyellow, saddlebrown, aqua, seagreen, gray, black, white, peachpuff, maroon);
}

.form {
    width: 500px;
    height: 350px;
    margin: 300px auto 0 auto;
}

.form__modal_wrapper {
    border: 25px solid slateblue;
    background-color: greenyellow;
    border-radius: 200px;
    height: 350px;
    width: 400px;
    display: grid;
    grid-gap: 30px;
    grid-template-rows: 50px 50px 50px 50px 40px;
}

.form__input {
    font-size: 20px;
    width: 100px;
    margin: 20px auto 0 auto;
    height: 100px;
    outline: none;
    font-family: "Ink Free";
    font-weight: bolder;
    background-color: #faff31;
    color: aqua;
    border-radius: 80px;
}

.form__btn {
    font-family: "Ink Free";
    font-size: 20px;
    font-weight: bolder;
    width: 40%;
    height: 40px;
    margin: 40px auto 0 auto;
    background-color: #ff32ea;
}
