.calc_wrap{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 100px 100px;
    display: flex;
    width: 350px;
    background-color: #dde2ce;
    border: 0.5px solid black;
}
.inp_wrap{
    margin: 30px 10px;
display: grid;
grid-auto-columns: 230px;
grid-gap: 20px;
}
.text_wrap{
    margin: 20px 0px;
    display: grid;
    grid-auto-columns: 80px;
    grid-gap: 20px;
    text-align: right;
    grid-auto-rows: 60px;
}
.text_res{
    margin-top: 10px;
}
.btn{
    align-self: flex-end;
    width: 280px;
    height: 60px;
    margin-left: -50px;

}
.inp{
    height: 40px;
    font-size: 25px;
    text-align: center;
}
#a1{
margin-top: 25px;
}
#a2{
    margin-top: 20px;
}